<html>
<body>
    <script type="text/javascript">
    var i
    var q = 1
    function addquestion() {
        var other = "<option>Select</option><option value='radio'>Radio</option><option value='checkbox'>Checkbox</option><option value='text'>Short answer</option><option value='mobile'>Mobile</option><option value='Paragraph Type'>Long answer</option>"
        var htmlString = "<div id='question-" + q + "' name='question-" + q + "'>" + "<input id='ques-" + q + "' name='ques-" + q + "' type='text' placeholder='Enter question' />" + "<select id='sel-" + q + "' name='sel-" + q +"'" + "' onchange='selection(this)'>" + other + "</select>" + "<input type='checkbox' id='checkbox-" + q + "'" + " name='checkbox-" + q + "'" +  "/><label for='checkbox-" + q + "'> Compolsoury?</label>" + "<div id='abc-" + q + "'></div>" + "<div id='ao-" + q + "'></div>" + "<div id='ro-" + q + "'></div>" + "<br/>"
        var doc = new DOMParser().parseFromString(htmlString, "text/html")
        console.log(doc.body.firstChild)
        var quesDiv = document.getElementById('questions')
        quesDiv.appendChild(doc.body.firstChild)
        q++
    }3
    function selection(sel) {
        var a = sel.value
        var id = sel.id.toString().split("-")
        console.log(id[1])
        id = id[1].toString()
        if (a == "radio") {
            i = 0
            document.getElementById('abc-' + id).innerHTML = "<input id='radio-" + id.toString() + "-" + (i+1).toString() + "'" + "name='radio-" + id.toString() + "-" + (i+1).toString() + "'" + "type= 'text'" + "placeholder='Enter text here'"  + "/>"
            document.getElementById('ao-' + id).innerHTML = "<a href='#' onclick='addoption(" + id + ")'>Add option</a>"
            document.getElementById('ro-' + id).innerHTML = "<a href='#' onclick='removeoption(" + id + ")'> Remove option </a>"
            i++
        }
        if (a == "checkbox") {
            i = 0;
            document.getElementById('abc-' + id).innerHTML = "<input id='radio-" + id.toString() + "-" + (i+1).toString() + "'" + "name='radio-" + id.toString() + "-" + (i+1).toString() + "'" + "type= 'text'" + "placeholder='Enter text here'" + "/>"
            document.getElementById('ao-' + id).innerHTML = "<a href='#' onclick='addoption(" + id + ")'>Add option</a>"
            document.getElementById('ro-' + id).innerHTML = "<a href='#' onclick='removeoption(" + id + ")'> Remove option </a>"
            i++
        }
        if (a == "text") {
            document.getElementById('abc-' + id).innerHTML = ""
            document.getElementById('ao-' + id).innerHTML = ""
            document.getElementById('ro-' + id).innerHTML = ""
        }
        if (a == "mobile") {
            document.getElementById('abc-' + id).innerHTML = ""
            document.getElementById('ao-' + id).innerHTML = ""
            document.getElementById('ro-' + id).innerHTML = ""
        }
        if (a == "Paragraph type")
            document.getElementbyId('abc-' + id).innerHTML = ""
            document.getElementById('ao' + id).innerHTML = ""
            document.getElementById('ro' + id).innerHTML = ""
    }
    function addoption(q) {
            document.getElementById('abc-' + q.toString()).innerHTML += "<br/>" + "<input id='radio-" + q.toString() + "-" + (i+1).toString() + "'" + "name='radio-" + q.toString() + "-" + (i+1).toString() + "'" + "type= 'text'" + "placeholder='Enter text here'" + "/>"
            i++
    }
    function removeoption(q) {
        document.getElementById("radio-" + q.toString() + "-" + (i).toString()).remove()
        i--
    }
    </script>
 
    <form method="post" action="CreateForm">
        <p> Make a form here</p>
        <div id="Form name">
            <input id="form-name" name="form-name" type="text" placeholder="Enter the name of this form" size="35" />
            <br />
            <br />
            <br />
        </div>
        <div>
            <input id="creators-name" name="creators-name" type="text" placeholder="Enter the creators name" size="35" />
            <br />
            <br />
            <br />

        </div>
        <div id="questions">
            <div id="question-0">
                <input id="ques-0" name="ques-0" type="text" placeholder="Enter question" />
                <select id="sel-0" name="sel-0" onchange="selection(this)">
                    <option>Select</option>
                    <option value="radio">Radio</option>
                    <option value="checkbox">Checkbox</option>
                    <option value="text">Short answer</option>
                    <option value="mobile">Mobile</option>
                    <option value="Paragraph type">Long Answer</option>
                </select>
                <input type="checkbox" id=" checkbox-0" name="checkbox-0" />
                <label for=" checkbox-0"> Compolsoury?</label>
                <div id="abc-0">
                </div>
                <div id="ao-0">
                </div>
                <div id="ro-0">
                </div>
                <br />
            </div>
        </div>

        <button type="button"
                onclick="addquestion()">
            +Add
        </button>
        <br />
        <br />
        <br />
        <button type="submit" class="block"> Submit here</button>
    </form>
    <div id="hidden-question-template" style="visibility: hidden">
        .block{
        display: block;
        widht: 100%;
        border: none;
        background-color: #ffo;
        font-size: 20px;

        }


        <br />
    </div>
</body>
</html>